<div class="container">
  <div class="jumbotron">
    <h1 id="header-title">Blocipedia</h1>

    <h3 id="h3-title"> Create & Share Markdown Wikis</h3>
    <p><center><%= link_to "Sign Up", new_user_registration_path %></p>
  </div>
</div>
