<div class="container">
  <div class="row">
    <div class="col-md-6 col-offset-4">
  <h2>Wikis
    <% if user_signed_in? %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>
    <% end %></h2>

      <% @wikis.each do |wiki| %>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><%= link_to wiki.title, wiki_path(wiki)  %></td>
            </tr>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
</div>
