// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-title {
  text-align: center;
}

#h3-title {
  text-align: center;
  color: black;

}

#header-title {
  text-align: center;
}

#button {
  align-items: center;
  color: #6B6B6B;
}

section {
  background-color: #666666;
  border-width: 5px;
  margin: 5px;
  padding: 5px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
